@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import
    "./grid/grid";

* {
    font: {
        family: 'Open Sans', sans-serif !important;
        size: 16px;
    }

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    &::after,
    &::before {
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
